<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000to1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{480,162}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{480,162}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>1000to1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,576},{480,162}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{480,162}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>1000to1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>1000to1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,916},{232,154}}</string>
                <key>offset</key>
                <string>{124,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,166},{232,154}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>1000to1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,902},{232,154}}</string>
                <key>offset</key>
                <string>{-124,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,166},{232,154}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>1000to1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>1000to1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,324},{480,250}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{480,250}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,740},{480,160}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{480,160}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{480,156}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,164},{480,156}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,740},{480,160}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{480,160}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{232,320}}</string>
                <key>offset</key>
                <string>{124,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,0},{232,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,740},{480,160}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{480,160}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,902},{232,320}}</string>
                <key>offset</key>
                <string>{-124,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,740},{480,160}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{480,160}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>texture1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,268}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{486,268}}</string>
                <key>sourceSize</key>
                <string>{486,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b92ac0bc375500bccaa56f59fec8c27$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
